@model List<eMat.DA.tbCurso>
<div class="content">
    <div class="table">
        <div class="row">
            <div class="column title">Id Curso</div>
            <div class="column title">Nombre</div>
            <div class="column title">Creditos</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="column">@item.idCurso</div>
                <div class="column">@item.nombre</div>
                <div class="column">@item.creditos</div>
            </div>
        }
    </div>
</div>